<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Department Details</title>
    <link th:href="@{/css/department.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/department.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">EMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="employees">Employees</a>
            <a class="nav-item nav-link" href="departments">Departments</a>
            <a class="nav-item nav-link" href="projects">Project</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form id="departmentIdSearch" th:action="@{/company/departments/getDepartmentById}" method="get">
                <h3>Search Department By Id</h3>
                <div class="form-group">
                    <label for="departmentId">Employee ID:</label>
                    <input type="number" class="form-control" id="departmentId" name="id"
                           placeholder="Enter Employee ID" required>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>


    </div>
</div>

<br>
<br>
<br>

<div class="container">
    <div class="row">
        <h1>List Departments</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/company/departments/new}" class="btn btn-primary btn-small mb-3">Add Department</a>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Description</th>
            <th>Budget</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dep : ${department}">
            <td th:text="${dep.id}"></td>
            <td th:text="${dep.name}"></td>
            <td th:text="${dep.location}"></td>
            <td th:text="${dep.description}"></td>
            <td th:text="${dep.budget}"></td>
            <td>

                <a th:href="@{/company/departments/update/{id} (id=${dep.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/company/departments/delete/{id} (id=${dep.id})}" class="btn btn-danger ">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>
